body {
    background: #f6f3f6;
    font-weight: bold;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

.wrapper__title {
    font-size: 2em;
    text-align: center;
    color: brown;
}

.wrapper__content {
    text-align: center;
    padding: 1em;
    color:brown
}

.wrapper__content_name {
    margin-top: 1em;
}

.wrapper__content_start {
    margin-top: 1em;
}

a {
    text-decoration: none;
    color: brown;
}